* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body {
    height: 100%;
}
main {
    font-family: poppins, sans-serif;
    height: 100vh;
    background: rgba(225, 222, 222, 0.861);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
}

.opening{
    min-height: 80vh;
    width: 28%;
    background: rgba(248, 244, 244, 0.923);
    box-shadow: 1px 1px 6px 6px rgba(176, 176, 176, 0.863);  
    position: relative;  /*This is used so that the container can be moved around*/
}

.circle1, .circle2 {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}

.circle1 {
    background: linear-gradient(
        to left bottom        , 
        rgba(255, 255, 255, 0.698),
        rgba(67, 101, 113, 0.8)
         );
    top: -10%;
    right: 68%;
    position: absolute; 
}

.circle2 {
    background: linear-gradient(
        to right top, 
        rgba(255, 255, 255, 0.698),
        rgba(67, 101, 113, 0.8)
         );
    position: absolute;
    top: -2%;
    right: 83%;
}