/* This styles for the whole pages  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body {
    height: 100%;
}

main {
    font-family: poppins, sans-serif;
    height: 100vh;
    background: rgba(225, 222, 222, 0.861);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 9px;
}

.opening{
    min-height: 70vh;
    width: 28%;
    background: rgba(248, 244, 244, 0.923);
    /* box-shadow: 1px 1px 6px 6px rgba(176, 176, 176, 0.863);   */
    box-shadow: 1px 1px 6px 6px rgba(201, 199, 199, 0.863);  
    position: relative;  /*This is used so that the container can be moved around*/
}

.circle1, .circle2 {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}

.circle1 {
    background: linear-gradient(
        to left bottom        , 
        rgba(255, 255, 255, 0.698),
        rgba(161, 217, 238, 0.8)
         );
    top: -11.5%;
    right: 75%;
    position: absolute; 
}

.circle2 {
    background: linear-gradient(
        to right top, 
        rgba(255, 255, 255, 0.698),
        rgba(161, 217, 238, 0.8)
         );
    position: absolute;
    top: -8%;
    right: 88%;
}

.menu {
    background-color:  rgba(248, 244, 244, 0.923);
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.time{
    color: black;
    font-weight: 900;
    font-size: 14px;
    z-index: 4;
    padding-top: 3px;
    margin-right: 255px;
}

img {
    color: black;
    height: 25px;
    width: 25px;
    font-weight: 900;
    padding-top: 3px;
    padding-right: 4px;
    margin-right: 2px;
}

.body {
    background-color: rgba(248, 244, 244, 0.923);
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: column;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin: 10px;
}

.body > img {
    height: 130px;
    width: 170px;
}

